<% provide(:title, "About") %>
<h1>About</h1>
<p class="center">
	Odyssey is a trip planning web app. Plan your trips by adding locations to visit and scheduling activities for each location. Happy travels!
</p>