<% provide(:title, "Home") %>
<% if logged_in? %>
	<div class="row">
		<aside class="col-md-4">
			<section class="user_info">
				<%= render 'shared/user_info' %>
			</section>
			<!-- Button trigger modal -->
			<button type="button" class="btn" data-toggle="modal" data-target="#myModal">
			  Create new trip
			</button>
			<%= render 'shared/new_trip_modal' %>
		</aside>
		<div class="col-md-8">
			<h3>News Feed</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
	<div class="center jumbotron">
		<div class="container">
			<h1>Welcome to Odyssey</h1>

			<h2>
				For all your trip planning needs!
			</h2>

			<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
		</div>
	</div>
<% end %>