<aside class="col-md-4 trip_sidebar">
	<section class="trip_info">
		<%= link_to root_url, class: "btn-sm inline pull-left" do %>
			<span class="glyphicon glyphicon-arrow-left"></span>
			<span class="glyphicon glyphicon-th-list"></span>
		<% end %>
		<h1><%= @trip.name %></h1>
	</section>
	<hr>
	<div class="add_loc center">
		<%= link_to '#', class: "btn center" do %>
			<span class="glyphicon glyphicon-plus"></span> Location
		<% end %>
	</div>
	<hr>
	<section class="loc-list">
		<% if @trip.locations.any? %>
			<ol class="locations">
				<li>Locations will go here</li>
				<li>Example Location 1</li>
				<li>Example Location 2</li>
				<li>etc.</li>
			</ol>
		<% else %>
			<ol class="locations">
				<li>Locations will go here</li>
				<li>Example Location 1</li>
				<li>Example Location 2</li>
				<li>etc.</li>
			</ol>
		<% end %>
	</section>
</aside>
