<% provide(:title, @trip.name) %>
<div class="row">
	<%= render 'trip_sidebar' %>
	<div class="col-md-9 center">
		<!-- TEST MAP! -->
		<div style='width: 800px;'>
		  <div id="map" style='width: 850px; height: 600px;'></div>
		</div>
		<script type="text/javascript">
		handler = Gmaps.build('Google');
		handler.buildMap(
			{ provider: {}, internal: {id: 'map'}}, 
			function() {
				markers = handler.addMarkers(<%= raw @hash.to_json %>); 
				handler.bounds.extendWith(markers);
				handler.fitMapToBounds();
			});
		</script>
	</div>
</div>