<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
	<%= render @users %><!-- Rails iterates over collection,
													 renders each with _user.html.erb partial -->
</ul>

<%= will_paginate %>